body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.mainpage {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  display: block;
  padding: 30px;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
  border-radius: 30px;
}
